html,body{height:100%;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}

.navbar.navbar-custom {
  border: none;
  background: white;
  border-top: 3px solid #001f36;
  margin-bottom: 0px;
  border-radius: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar.navbar-custom .navbar-brand img {
  position: relative;
  display: block;
  z-index: 1000;
}
.navbar.navbar-custom .navbar-nav > li > a {
  color: white;
}
@media (max-width: 767px) {
  .navbar.navbar-custom .navbar-right > li,
  .navbar.navbar-custom .navbar-right .dropdown-menu > li {
    text-align: right;
  }
}

.navbar-brand {
    float: left;
    width: 600px;
    height: 106px;
    padding: 0;
    background-image: url('../images/logo.png');
    background-position: -170px 0;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

.centerbutton {
    margin: 0 auto;
    background-color: transparent;
    text-align: center;
    position:absolute;
    z-index:50;
    top:50%;
    left:50%;
    margin-top:-23px;
    margin-left:-50px;
}


.carousel-caption {
  bottom: 140px;
}

.h1, h1 {
  font-size: 64px;
}

.blog {
  color: red;
}
